<mat-grid-list cols="10" rowHeight="100%">
  <mat-grid-tile colspan="2">
    <div class="interactions-list">
      <mat-form-field>
        <mat-label>Interaction name or id</mat-label>
        <input matInput type="text" name="filterInteractions" [(ngModel)]="interactionFilterString"  (keyup)="updateInteractionFilter()">
      </mat-form-field>
      <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="50">
        <mat-selection-list [multiple]="false"
                            (selectionChange)="interactionChanged($event)">
          <mat-list-option *ngFor="let interaction of filteredInteractions" [value]="interaction">
            {{interaction.name}}
          </mat-list-option>
        </mat-selection-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="8">
    <mat-tab-group *ngIf="selectedInteraction">
      <mat-tab label="Interact">
        <ng-template matTabContent>
          <interactions-interactive [selectedInteraction]="selectedInteraction"></interactions-interactive>
        </ng-template>
      </mat-tab>
      <mat-tab label="View">
        <ng-template matTabContent>
          <interactions-json-view [selectedInteraction]="selectedInteraction"></interactions-json-view>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>

