/.idea/
*/.idea/
/project/boot/
/project/plugins/project
**/*.*~
/**/logs
target/
lib_managed/
src_managed/
test-output/
*.iml
.classpath_nb
it/logs
native/
*.log
**/*.log
*.sublime-*
/activemq-data
*.dot
.ensime
/**/*.pdf
