.interactions-list {
  height: 100%;
  width: 500px;
  left: 5px;
}
.interactions-list .scroll-viewport {
  height: 100%;
}

interaction-definition {
  height: 100%;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-tab-group {
  width: 100%;
  height: 100%;
}

/deep/.mat-tab-body-wrapper {
  height: 100%;
}
