.interactions-list {
  height: 100%;
  width: 500px;
  left: 5px;

  .scroll-viewport {
    height: 100%;
  }
}

interaction-definition {
  height: 100%;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}
