<form>
  <mat-form-field>
    <mat-label>Instance ID</mat-label>
    <input matInput type="text" name="instanceId" [(ngModel)]="instanceId" (change)="updateInstance($event)">
  </mat-form-field>
</form>

<mat-tab-group *ngIf="displayedInstanceId">
  <mat-tab label="Events & ingredients">
    <mat-grid-list cols="2" rowHeight="100%">
      <mat-grid-tile colspan="1">
        <div class="text-inside-grid">
          <p>Events</p>
          <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="50">
            <table mat-table [dataSource]="instanceEvents" class="mat-elevation-z8">
              <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Event name</th>
                <td mat-cell *matCellDef="let event"> {{event.name}} </td>
              </ng-container>

              <ng-container matColumnDef="eventName">
                <th mat-header-cell *matHeaderCellDef>Happened at</th>
                <td mat-cell *matCellDef="let event"> {{toIsoString(event.occurredOn)}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <div class="text-inside-grid">
          <p>Ingredients</p>
          <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="50">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let ingredient of instanceIngredients" [hideToggle]="ingredient.isSimple">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ingredient.name}}
                  </mat-panel-title>
                  <mat-panel-description *ngIf="ingredient.isSimple">
                    {{ingredient.value}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <pre class="ingredient-value-json" *ngIf="!ingredient.isSimple">{{ingredient.value}}</pre>
              </mat-expansion-panel>
            </mat-accordion>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Visualization">
    <ng-template matTabContent>
      <visualize-recipe [visual]="visual" *ngIf="visual"></visualize-recipe>
    </ng-template>
  </mat-tab>
  <mat-tab label="Test">
    <ng-template matTabContent>
      <mat-grid-list cols="10" rowHeight="100%">
        <mat-grid-tile colspan="2" rowspan="1">
          <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="50">
            <mat-selection-list [multiple]="false"
                                (selectionChange)="eventChanged($event)">
              <mat-list-option *ngFor="let event of events" [value]="event">
                {{event.name}}
              </mat-list-option>
            </mat-selection-list>
          </cdk-virtual-scroll-viewport>
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="1">
          <instance-manual-test [instanceId]="instanceId" [selectedEvent]="selectedEvent" (reload)="loadGraph()"></instance-manual-test>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<p class="mat-error" *ngIf="failedInstanceId">Could not load instance information with id "{{ failedInstanceId }}".</p>
