<configuration scan="true" scanPeriod="60 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] [%X{processId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.ing.baker.runtime.actor" level="OFF" />

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>