<configuration>

    <logger name="org.mockserver.log.MockServerEventLog" level="OFF"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - aoushdoauhd;ouawhd %msg%n
            </Pattern>
        </layout>
    </appender>

</configuration>
