<configuration scan="true" scanPeriod="60 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] [%X{processId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="com.ing.baker.runtime.actor.process_instance.ProcessInstance" level="OFF" />-->

    <!--<logger level = "DEBUG" name="com.datastax.driver.core.RequestHandler" />-->
    <!--<logger level = "TRACE" name="com.datastax.driver.core.Connection" />-->
    <!--<logger level = "TRACE" name="com.datastax.driver.core.QueryLogger.NORMAL" />-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>